name: Run Bot

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: bot-running
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-telegram-bot google-generativeai
        
    - name: Run Bot
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
      run: python bot.py
